<%- include('partials/header'); -%>

    <h1>Hello</h1>
    <p>
        <%= hContent %>
    </p>
    <% posts.forEach(function(post){ %>
        <h2>
            <%=post.title%>
        </h2>
        <% if(post.body.length>100){ %>
            <p>
                <%=post.body.substring(0,100)+"..."%><a href="/posts/<%=post.title%>">Read more</a>
            </p>
            <%} else {%>
                <p>
                    <%=post.body%><a href="/posts/<%=post.title%>">&nbsp;Read more</a>
                </p>

                <% }}); %>